{% extends "bootstrap/base.html" %}

{% block title %}诉求分析 - {{ title }}{% endblock %}

{% block head %}
    {{super()}}
    <link rel="icon" href="{{ url_for('static', filename='images/bear.png')}}" type="image/x-coin">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}" type="text/css">
    <title>Proudly presented by ECharts</title>
	{% for jsfile_name in script_list %}
        <script src="static/echarts/{{ jsfile_name }}.js"></script>
    {% endfor %}
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">诉求分析</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">数据探索性分析
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('bar') }}">事件类型</a> </li>
                                <li><a href="{{ url_for('boxplot') }}">社区街道与事件</a> </li>
                                <li><a href="{{ url_for('kline') }}">事件趋势</a> </li>
                                <li><a href="{{ url_for('scatter') }}">各社区事件趋势</a> </li>
                            </ul>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">超时预测
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('polar') }}">XGBoost模型</a> </li>
                            </ul>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">关联分析
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('bar3d') }}">Apriori关联规则</a> </li>
                            </ul>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">社区聚类
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('geo') }}">K-means聚类</a> </li>
                            </ul>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">新闻与事件
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('pie') }}">报道的新闻与事件是否存在关系？</a> </li>
                            </ul>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">总结
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('conclusion') }}">总结</a> </li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
      <button class="btn-info" onclick="onEditButtonClick()"><span class="glyphicon glyphicon-pencil"></span>Edit</button> in browsers
          <script>
            function onEditButtonClick(){
                window.location.href="https://pyecharts.github.io/pyecharts.js-app/#https://raw.githubusercontent.com/pyecharts/pyecharts-app/master/app/charts/{{source_file}}.py";
            }
          </script>
    </div>
    <div class="my-charts">
        {{ myechart|safe }}
    </div>
    <footer class="container-fluid foot-wrap">
        <p align="center" style="margin-top: 20px;color:#878B91;">
            Copyright &copy; 2019 Sean Zhen
        </p>
    </footer>
{% endblock %}
