{% extends "bootstrap/base.html" %}

{% block title %}诉求分析 - {{ title }}{% endblock %}

{% block head %}
    {{super()}}
    <link rel="icon" href="{{ url_for('static', filename='images/bear.png')}}" type="image/x-coin">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}" type="text/css">
    <title>Proudly presented by ECharts</title>
	{% for jsfile_name in script_list %}
        <script src="static/echarts/{{ jsfile_name }}.js"></script>
    {% endfor %}
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">诉求分析</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">事件类型
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('event_type') }}">事件类型分析</a> </li>
                            </ul>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">事件数量
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('comm') }}">社区与事件</a> </li>
                                <li><a href="{{ url_for('street') }}">街道与事件</a> </li>
                            </ul>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">时间趋势
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('trend') }}">事件趋势</a> </li>
                                <li><a href="{{ url_for('comm_trend') }}">社区与事件</a> </li>
                                <li><a href="{{ url_for('street_trend') }}">街道与事件</a> </li>
                                <li><a href="{{ url_for('src_event') }}">投诉渠道与事件</a> </li>
                                <li><a href="{{ url_for('rec_event') }}">处理部门与事件</a> </li>
                            </ul>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">监控大屏
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('dashboard') }}">Dashboard</a> </li>
                            </ul>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">超时预测
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('overtime') }}">何种事件最可能超时结案？</a> </li>
                            </ul>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">相关性分析
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('rule') }}">事件关联规则分析</a> </li>
                                <li><a href="{{ url_for('cluster') }}">社区聚类分析</a> </li>
                            </ul>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">总结
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('conclusion') }}">总结</a> </li>
                            </ul>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
      <button class="btn-info" onclick="onEditButtonClick()"><span class="glyphicon glyphicon-pencil"></span>Edit</button> in browsers
          <script>
            function onEditButtonClick(){
                window.location.href="https://pyecharts.github.io/pyecharts.js-app/#https://raw.githubusercontent.com/pyecharts/pyecharts-app/master/app/charts/{{source_file}}.py";
            }
          </script>
    </div>
    <div class="my-charts">
        {{ myechart|safe }}
    </div>
    <footer class="container-fluid foot-wrap">
        <p align="center" style="margin-top: 20px;color:#878B91;">
            Copyright &copy; 2019 Sean Zhen
        </p>
    </footer>
{% endblock %}
