{% extends "base.html" %}
{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1" charset=utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/github-markdown.css')}}" type="text/css">
    <style>
        .markdown-body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 15px;
        }

        @media (max-width: 767px) {
            .markdown-body {
                padding: 15px;
            }
        }
    </style>
    <article class="markdown-body ">
        <h1>坪山民生诉求分析</h1>
        <h2>关于项目</h2>
        <p>我们使用的数据主要是深圳市坪山区人民生活反馈数据，其中包括过去13个月内公众通过微信，邮箱，热线，微博等渠道报道的30,000多起投诉和建议事件。有关每个事件的来源，时间和类别的详细信息。</p>
        <ul>
            <li>从数据可视化的角度了解数据各个维度，并制作网站来监控数据变化情况，网站是用 Flask + pyecharts 制作。</li>
            <li>另外，从事件的结案耗时、关联规则，社区之间的相关性和新闻与事件的联系等角度分析。</li>
        </ul>
        </p>

        <h2>关于团队</h2>
        <p>团队是由来自香港中文大学（深圳）数据科学项目的六名硕士研究生组成，成员分别为甄赏（队长）、雷鸣、陈力群、刘雅倩、张灿、王涵艺
        <ul>
            <li> <a href="https://github.com/seanzhen">https://github.com/seanzhen/</a></li>
        </ul>
        <p>我们来自不同地区，有着共同的学习目标聚集到深圳这个蓬勃发展的城市，在完成学业项目的同时，我们希望将所学的知识运用到实际生活当中。深圳开放数据比赛为我们提供了一个用真实数据体现数学模型意义的机会，希望通过此次比赛我们可以用数据为坪山区民生实际发展贡献一份力量！</p>
    </article>
    <footer class="container-fluid foot-wrap">
        <p align="center" style="margin-top: 20px;color:#878B91;">
            Copyright &copy; 2019 Sean Zhen
        </p>
    </footer>
{% endblock %}
